body{
	background: -moz-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 102deg, color-stop(0, 6614C4), color-stop(100%, F6D347));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* W3C */
	height: 660px;
}
.wrapper{
	max-width: 330px;
	margin: auto;	
}
.modal-butt{
	width: 50%;
	margin: auto;
	padding: 4% 0;
}
input{
	border-radius: 10px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid #1B0202;;
	height: 30px;
	width: 49%;
}
.all-p{
	text-align: center;
	height: 30px;
	margin: auto;
	padding: 5% 0;
	font-size: 18px;
}
.all-btn{
	width: 35%;
	height: 40px;
	margin-left: 30%;
	margin-top: 8%;
	border: none;
	border-radius: 10px;
	background-color: #337ab7;
	color: #fff;
}
.exit{
	width: 49%;
}
.save{
	width: 49%;
}
@media only screen and (max-width: 530px){
	
}