body{
	background: -moz-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 102deg, color-stop(0, 6614C4), color-stop(100%, F6D347));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(102deg, #6614C4 0, #F6D347 100%);/* W3C */
	height: 660px;
}
.wrapper{
	max-width: 330px;
	margin: auto;	
}
.div-container{
	margin-top: 10%;
}
.modal-butt{
	width: 46%;
    margin: auto;
    padding-top: 25px;
    padding-left: 4px;
}
input{
	border-radius: 10px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid #1B0202;;
	height: 30px;
	width: 49%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.all-p{
	text-align: center;
    font-size: 18px;
    padding: 0;
    margin-top: 4%;
}
.all-btn{
	width: 35%;
	height: 40px;
	margin-left: 30%;
	margin-top: 8%;
	border: none;
	border-radius: 10px;
	background-color: #337ab7;
	color: #fff;
}
.exit{
	width: 49%;
}
.save{
	width: 49%;
}
@media only screen and (max-width: 530px){
		.exit{
			width: 43%;
    		float: left;
	}
		.save{
			width: 43%;
    		float: left;
	}

}